.avatar {
    /* box-sizing: initial; -> Não faz a imagem fizar esprimida */
    width: 3rem;  /* Faz uma conta considerando o tanto de borda que já teremos */
    height: 3rem;
    border-radius: 8px;
}

.avatarWithBorder {
    width: calc(3rem + 12px);  /* Faz uma conta considerando o tanto de borda que já teremos */
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500)
}
